<div class="row top">
        <div class="col-md-12">
            <ul class="list-group list-group-horizontal-sm ul-inline">
                <li class="list-group-item">  
                    <select (change)="SelectType($event)">
                        <option [value]="option.id" *ngFor="let option  of trainingTypes">{{option.value}}</option>
                     </select>
                 </li>                 
                 <li>
                    <select (change)="SelectFistNumber($event)">
                        <option [value]="option" *ngFor="let option  of firstNumbers">{{option}}</option>
                    </select>
                 </li>
                 <li>
                    <select (change)="SelectFistNumber($event)">
                        <option [value]="option" *ngFor="let option  of firstNumbers">{{option}}</option>
                    </select>
                 </li>
                 <li>
                     <select (change)="SelectSecondNumber($event)">
                    <option [value]="option" *ngFor="let option  of secondNumbers">{{option}}</option>
                </select>
                </li>
                <li>
                    <label for="enableSound">Звук </label>
                    <input type="checkbox" [(ngModel)]="isPlaySound" id="enableSound"/> 
                </li>
            </ul>   
        </div>
    <br/> <br/> <br/>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="ul-inline">
                <li>
                    <button (click)="ReStart()">Начать заного</button>                
                </li>
                <li>
                    <button (click)="Start()">Старт</button>
                </li>
                <li>
                    <button (click)="Stop()">Стоп</button>
                </li>
            </ul>
        </div>
    </div>
</div>

  
<div class="row bg-game-image content align-items-center">
    <div class="main-card">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="question">{{questionText}}</p>
            </div>
        </div>    
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <input type="number" class="answer" [(ngModel)]="answer" /> <br/><br/>  
            </div>
        </div>   
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button  (click)="Answer()">Ок</button>
                <p>{{answerTime}} с</p>
                <p>{{score.value}} баллов</p>
            </div>
            
        </div>    
    </div>
        
</div>






