ul li {
    margin-left: 2em;
    border-radius: 5px;
    border: 3px solid #ffffff;
    color: white;
    background-color: #9247c3;
    padding: 0.3em;
}

li :only-child{
    cursor: pointer;
    background-color: #9247c3;
}

ul li button{ 
    border: none;
    color: white;
    list-style: none;
}

.head{
    background-color: #9247c3;
    margin-bottom: 20px;;
}

.content{
    height: 80vh;;
}

.top{
    background-color: #9247c3;
}

.answer{
    height: 120px;
    border: #9247c3 5px solid;
    font-size: 50px;
    padding-right: 20px;
    text-align: center;
}

.question{
    color: #4cddee;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    line-height: 1.1;
    font-size: 3em;
}

.main-card{
    height: 50vh;
}


select{
    color: white;
    border:none;
}
