<div class="row justify-content-center" *ngIf="adult">
  <div class="col-md-7 tab-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <span class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
          <i class="fa fa-calculator" aria-hidden="true"></i>
          Ментальная арифметика</span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
          <i class="fa fa-book" aria-hidden="true"></i>
          Скорочтение </span>
      </li>
      <li class="nav-item" role="presentation">
        <span class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          Развитие памяти</span>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-4">   
            <div class="a-box">
              <div class="img-container">
                <div class="img-inner">
                  <div class="inner-skew">
                    <img src="../../../assets/122.png">
                  </div>
                </div>
              </div>
              <div class="text-container">
                <h3>Мои группы</h3>   
              </div>
            </div>
            </div>
            <div class="col-md-4">        
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="../../../assets/123.png"> 
                    </div>
                  </div>
                </div>
                <div class="text-container">
                  <h3>Тренажеры</h3>   
                </div>
              </div>   
          </div>
        </div>
        
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-4">   
            <div class="a-box">
              <div class="img-container">
                <div class="img-inner">
                  <div class="inner-skew">
                    <img src="../../../assets/122.png">
                  </div>
                </div>
              </div>
              <div class="text-container">
                <h3>Мои группы</h3>   
              </div>
            </div>
            </div>
            <div class="col-md-4">        
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="../../../assets/123.png"> 
                    </div>
                  </div>
                </div>
                <div class="text-container">
                  <h3>Тренажеры</h3>   
                </div>
              </div>   
          </div>
        </div>
    </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
          <div class="col-md-4">   
            <div class="a-box">
              <div class="img-container">
                <div class="img-inner">
                  <div class="inner-skew">
                    <img src="../../../assets/122.png">
                  </div>
                </div>
              </div>
              <div class="text-container">
                <h3>Мои группы</h3>   
              </div>
            </div>
            </div>
            <div class="col-md-4">        
              <div class="a-box">
                <div class="img-container">
                  <div class="img-inner">
                    <div class="inner-skew">
                      <img src="../../../assets/123.png"> 
                    </div>
                  </div>
                </div>
                <div class="text-container">
                  <h3>Тренажеры</h3>   
                </div>
              </div>   
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
   