// .image-container {
//     width: 400px;
//     position: relative;
//     padding-bottom: 6%;
//     box-shadow: 0px 0px 8px #0000002b;
//     .bottom-block {
//       position: absolute;
//       bottom: 0;
//       background-color: black;
//       width: 100%;
//       height: 20%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       color: white;
//     }
//     img {
//       width: 100%;
//     }
//     .triangle {
//       position: absolute;
//       left: 0;
//       top: -16px;
//       width: 0;
//       border: 8px solid;
//       border-top-color: transparent;
  
//       border-left-color: transparent;
//     }
  
//     &.red {
//       .bottom-block {
//         background-color: #f44336;
//       }
//       .triangle {
//         border-right-color: #b71c1c;
//         border-bottom-color: #b71c1c;
//       }
//     }
//     &.pink {
//       .bottom-block {
//         background-color: #e91e63;
//       }
//       .triangle {
//         border-right-color: #880e4f;
//         border-bottom-color: #880e4f;
//       }
//     }
//     &.violet {
//       .bottom-block {
//         background-color: #9c27b0;
//       }
//       .triangle {
//         border-right-color: #4a148c;
//         border-bottom-color: #4a148c;
//       }
//     }
//   }


.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    // transform: skew(0deg, -13deg);
    // height: 250px;
    // margin: -35px 0px 0px -70px;
}

.inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;   
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 10px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -140px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

.nav-item{
  margin: 20px 20px 0px 20px;
}

i{
  color: #4cddee;
  font-size: 3em;
}

.tab-content{
  box-shadow: 0 0 18px rgb(39 58 114 / 15%);
  padding: 20px;
}
