body{
    overflow: hidden;
    // min-height: 90vh;
    // background-image: src("../assets/reset-bg.png");
    // -webkit-background-size: cover;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    background-color: red;
}

header{
    background-color: #9247c3;
    padding: 10px;
}

.header-logo{
    width: 130px;
    min-width: 90px;
}

.menu-header a{
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    border: 1px solid #4cddee;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    margin-right: 1em;
    font-size: 16px;
    color: #4cddee;
    text-transform: none;
    text-decoration: none;
}

.menu-header a:hover{
    background-color: #0287d1;
    box-shadow: 0 0 10px 5px rgb(187 187 187 / 50%);
    transition: 0.3s;
}

.bg-reset{
  
}