<!-- <header class="row">
    <div class="col-md-12 inline">
        <a href="#">
            <img class="header-logo" src="../assets/logo.svg" >
        </a>
        <a href="#" class="btn btn--profile d-none d-lg-block">Главная</a>
    </div>
  
</header> -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="header-logo" src="../assets/logo.svg" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item menu-header">
                <a class="" aria-current="page" href="#">Главная</a>
              </li>     
              <li class="nav-item menu-header">
                <a class="" aria-current="page" href="#">Мои ученики</a>
              </li>
              <li class="nav-item menu-header">
                <a class="" aria-current="page" href="#">Настройки</a>
              </li>  
              <li class="nav-item menu-header">
                <a class="" href="#">Поддержка</a>
              </li>
            </ul>           
          </div>
        </div>
      </nav>
</header>
<router-outlet class="bg-reset"></router-outlet>

