<div class="top">
    <div class="row head gy-5">
        <div class="col-md-12 ">
            <ul class="list-group list-group-horizontal-sm ul-inline">
                <li class="list-group-item">  
                    <select (change)="SelectType($event)" >
                        <option [value]="option.id" *ngFor="let option  of trainingTypes">Тип тренеровки {{option.value}}</option>
                    </select>
                </li>          
                <li>
                    <select (change)="SelectD($event)">
                        <option [value]="option" *ngFor="let option  of firstNumbers"> {{option}}</option>
                    </select>
                </li>
                <li>
                    <select (change)="SelectFistNumber($event)">
                        <option [value]="option" *ngFor="let option  of firstNumbers">Первое число {{option}}</option>
                    </select>
                </li>
                <li>
                    <select (change)="SelectSecondNumber($event)">
                        <option [value]="option" *ngFor="let option  of secondNumbers">Второе число {{option}}</option>
                </select>
                </li>
                <li>
                    <label for="enableSound">Звук </label>
                    <input type="checkbox" [(ngModel)]="isPlaySound" id="enableSound"/> 
                </li>
            </ul>   
        </div>
    </div>

    <div class="row head justify-content-center">
        <div class="col-md-6 div-center">
            <ul class="ul-inline">
                <li>
                    <button (click)="ReStart()">Начать заного</button>                
                </li>
                <li>
                    <button (click)="Start()">Старт</button>
                </li>
                <li>
                    <button (click)="Stop()">Стоп</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row bg-game-image content align-items-center">
    <!-- <div class="main-card">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="question">{{questionText}}</p>
            </div>
        </div>    
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <input type="number" class="answer" [(ngModel)]="answer" /> <br/><br/>  
            </div>
        </div>   
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button  (click)="Answer()">Ок</button>
                <p>{{answerTime}} с</p>
                <p>{{score.value}} баллов</p>
            </div>
            
        </div>    
    </div> -->
    <div class="row justify-content-center">
        <div class="col-md-4 text-center justify-content-md-center">
            <div class="question-card">
                <p class="question" *ngFor="let item of question">{{item}}</p>
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <input type="number" class="answer" [(ngModel)]="answer" />
                    
                    </div>
                    <div class="col-md-12">
                        <button class="btn-answer" (click)="Answer()">Ок</button>
                    </div>
                </div>   
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <p><span>{{answerTime}} с </span>   <span> {{score.value}} баллов</span></p>
                        
                    
                    </div>
                    
                </div>    
            </div>
        </div>  
    </div>  
        
</div>






