ul li {
    margin-left: 2em;
    border-radius: 5px;
    border: 3px solid #ffffff;
    color: white;
    background-color: #9247c3;
    padding: 0.3em;
}


li :only-child{
    cursor: pointer;
    background-color: #9247c3;
}

ul li button{ 
    border: none;
    color: white;
    list-style: none;
}


.top {
    background-color: #9247c3;
}

.head{
    background-color: #9247c3;
    margin-bottom: 20px;;
}

.content{
    height: 80vh;;
}

.answer{
    width: 80%;
    border: none;
    font-size: 50px;
    padding: 4px 20px;
    text-align: center;
    border: 2px solid #9247c3;
    border-radius: 15px;
   
    margin: 0.3em;
    &:focus{
        outline: none;    
    }
    &:focus-visible{
        outline: none;  
    }
}

.btn-answer{
    background-color:  #9247c3;
    color: #fff;
    border: 3px solid #9247c3;;
    border-radius: 5px;
    padding: 8px 12px
}

.question-card{
    background-color: white;
    color: #9247c3;
    box-shadow: 0 0 8px 0 rgb(27 29 69 / 11%);
    padding: 12px 16px 24px;
}

.question{
    background-color: white;
    color: #9247c3;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    line-height: 1.1;
    font-size: 3em;
}

.question-card .question:nth-child(2n) {
    background-color: #e6e6e6;
}
  


.main-card{
    height: 50vh;
}

option{
    background-color: white;
    color: #4cddee;
    padding: 4px 12px;
    cursor: pointer;
}

option:hover {
    background-color: #effcfd;
}

select{
    color: white;
    border:none;
}

