<button (click)="Hide()">Hide</button>
<!-- <div>{{text}}</div> -->

<div class="row">
    <div class="col-md-10 div-center">        
        <span class="visibleWord" [ngClass]="{hideWord:!word.visible}" *ngFor="let word of textArray">
            {{word.text}}
            </span>    
    </div>

</div>


