.div-center{
    justify-content: center;
}

.ul-inline li{
  display: inline;
}

.bg-game-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/bg.png");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
    background-image: src("./assets/reset-bg.png") !important;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}